@page
@model HECVAT_Survery.Pages.ViewAnswersModel
@{
}

<style>
  tbody td {
    white-space: pre-wrap;
  }
</style>

@if (Model.errorMessage.Length > 0)
{
	<div class='alert alert-warning alert-dismissible fade show' role="alert">
		<strong>@Model.errorMessage</strong>
		<button type="button" class='btn-close' data-bs-dismiss='alert' aria-label="Close"></button>
	</div>
}


<table class="table">
	<thead>
		<tr>
			<th>Responses</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model.Answers)
		{
		<tr>
				<td>@item.question_1</td>
				</tr>
				<tr>
				<td>@item.question_2</td>
			</tr>
			<tr>
				<td>@item.question_3</td>
				</tr>
			<tr>
				<td>@item.question_4</td>
			</tr>
			<tr>
				<td>@item.question_5</td>
			</tr>
			<tr>
				<td>@item.question_6</td>
			</tr>
			<tr>
				<td>@item.question_7</td>
			</tr>
			<tr>
				<td>@item.question_8</td>
			</tr>
			<tr>
				<td>@item.question_9</td>
			</tr>
			<tr>
				<td>@item.question_10</td>
			</tr>
			<tr>
				<td>@item.question_11</td>
			</tr>
			<tr>
				<td>@item.question_12</td>
			</tr>
			<tr>
				<td>@item.question_13</td>
			</tr>
			<tr>
				<td>@item.question_14</td>
			</tr>
			<tr>
				<td>@item.question_15</td>
			</tr>
			<tr>
				<td>@item.question_16</td>
			</tr>
			<tr>
				<td>@item.question_17</td>
			</tr>
			<tr>
				<td>@item.question_18</td>
			</tr>
			<tr>
				<td>@item.question_19</td>
			</tr>
			<tr>
				<td>@item.question_20</td>
			</tr>
			<tr>
				<td>@item.question_21</td>
			</tr>
			<tr>
				<td>@item.question_22</td>
			</tr>
			<tr>
				<td>@item.question_23</td>
			</tr>
			<tr>
				<td>@item.question_24</td>
			</tr>
			<tr>
				<td>@item.question_25</td>
			</tr>
			<tr>
				<td>@item.question_26</td>
			</tr>
			<tr>
				<td>@item.question_27</td>
			</tr>
			<tr>
				<td>@item.question_28</td>
			</tr>
			<tr>
				<td>@item.question_29</td>
			</tr>
			<tr>
				<td>@item.question_30</td>
			</tr>
			<tr>
			<td>@item.question_31</td>
				</tr>
				<tr>
				<td>@item.question_32</td>
			</tr>
			<tr>
				<td>@item.question_33</td>
				</tr>
			<tr>
				<td>@item.question_34</td>
			</tr>
			<tr>
				<td>@item.question_35</td>
			</tr>
			<tr>
				<td>@item.question_36</td>
			</tr>
			<tr>
				<td>@item.question_37</td>
			</tr>
			<tr>
				<td>@item.question_38</td>
			</tr>
			<tr>
				<td>@item.question_39</td>
			</tr>
			<tr>
				<td>@item.question_40</td>
			</tr>
			<tr>
				<td>@item.question_41</td>
			</tr>
			<tr>
				<td>@item.question_42</td>
			</tr>
			<tr>
				<td>@item.question_43</td>
			</tr>
			<tr>
				<td>@item.question_44</td>
			</tr>
			<tr>
				<td>@item.question_45</td>
			</tr>
			<tr>
				<td>@item.question_46</td>
			</tr>
			<tr>
				<td>@item.question_47</td>
			</tr>
			<tr>
				<td>@item.question_48</td>
			</tr>
			<tr>
				<td>@item.question_49</td>
			</tr>
			<tr>
				<td>@item.question_50</td>
			</tr>
			<tr>
				<td>@item.question_51</td>
			</tr>
			<tr>
				<td>@item.question_52</td>
			</tr>
			<tr>
				<td>@item.question_53</td>
			</tr>
			<tr>
				<td>@item.question_54</td>
			</tr>
			<tr>
				<td>@item.question_55</td>
			</tr>
			<tr>
				<td>@item.question_56</td>
			</tr>
			<tr>
				<td>@item.question_57</td>
			</tr>
			<tr>
				<td>@item.question_58</td>
			</tr>
			<tr>
				<td>@item.question_59</td>
			</tr>
			<tr>
				<td>@item.question_60</td>
			</tr>
		}
	</tbody>



</table>